<!DOCTYPE html>
<html lang="en" dir="{{ config('backpack.base.html_direction') }}">
<head>
    @include 'layouts/admin/inc/head.html'
</head>
<body class="{{ config('backpack.base.body_class') }}">
    @include 'layouts/admin/inc/main_header.html'

    <div class="app-body">
        @include 'layouts/admin/inc/sidebar.html'

        <main class="main pt-2">
            @block before_breadcrumbs_widgets
                <!-- block named "before_styles" defined in child template will be inserted here -->
            @endblock

            @if config('backpack.base.breadcrumbs')
                @include 'layouts/admin/inc/breadcrumbs.html'
            @endif

            @block after_breadcrumbs_widgets
                <!-- block named "before_styles" defined in child template will be inserted here -->
            @endblock

            @block header
                <!-- block named "before_styles" defined in child template will be inserted here -->
            @endblock

            <div class="container-fluid animated fadeIn">

                @block before_content_widgets
                    <!-- block named "before_styles" defined in child template will be inserted here -->
                @endblock

                @block content
                    <!-- block named "before_styles" defined in child template will be inserted here -->
                @endblock

                @block after_content_widgets
                    <!-- block named "before_styles" defined in child template will be inserted here -->
                @endblock

            </div>
        </main>
    </div>


    <footer class="{{ config('backpack.base.footer_class') }}">
        @include 'layouts/admin/inc/footer.html'
    </footer>

    @block before_scripts
        <!-- block named "before_styles" defined in child template will be inserted here -->
    @endblock

    @include 'layouts/admin/inc/scripts.html'

    @block after_scripts
        <!-- block named "before_styles" defined in child template will be inserted here -->
    @endblock
</body>
</html>